.cursor-pointer {
  cursor: pointer;
}

.font-medium {
  font-weight: 500;
}

.divider {
  background-color: #e7e7e7;
  height: 1px;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
}

.mb-4 {
  margin-bottom: 0.25rem !important;
}

.mb-8 {
  margin-bottom: 0.5rem !important;
}

.mb-16 {
  margin-bottom: 1rem;
}

.mb-24 {
  margin-bottom: 1.5rem;
}

.mb-20 {
  margin-bottom: 1.25rem;
}

.font-bold {
  font-weight: bold;
}

.text-red {
  color: #ff4747;
}

.display-inline {
  display: inline;
}

.disable-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */

  /* Optional: Custom scroll behavior */
  &::-webkit-scrollbar {
    width: 0; /* Adjust the width according to your preference */
  }

  &::-webkit-scrollbar-track {
    background-color: transparent; /* Set to your desired color or remove to use the default */
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent; /* Set to your desired color or remove to use the default */
  }
}

.justify-between {
  justify-content: space-between;
}

.w-full {
  width: 100%;
}

.display-block {
  display: block;
  width: 100%;
}

#loading {
  height: 50px;
}

.text-underline {
  text-decoration: underline;
}
