.skeleton {
  animation: 2s loading ease-in-out infinite;

  background: #656871;
  background-image: linear-gradient(
    to right,
    #656871 0%,
    #888b94 20%,
    #656871 40%,
    #656871 100%
  );
  background-size: 200% 100%;
  background-position-x: 180%;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}
